@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #415f91;
  --onPrimary: #ffffff;
  --primaryContainer: #d6e3ff;
  --onPrimaryContainer: #284777;

  --secondary: #565f71;
  --onSecondary: #ffffff;
  --secondaryContainer: #dae2f9;
  --onSecondaryContainer: #3e4759;

  --tertiary: #705575;
  --onTertiary: #ffffff;

  --surface: #f9f9ff;
  --onSurface: #191c20;
  --onSurfaceVarient: #44474e;
  --surfaceContainer: #dae2f9;
  --surfaceContainer-low: #f3f3fa;

  --inverseOnSurface: #f0f0f7;
  --inverseSurface: #2e3036;
  --outlineVarient: #c4c6d0;

  --shadow-elevation1: 0 1px 2px 0 rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.15);
  --shadow-elevation2: 0 1px 2px 0 rgba(0, 0, 0, 0.3),
    0 1px 6px 2px rgba(0, 0, 0, 0.15);
}

.dark {
  --primary: #aac7ff;
  --onPrimary: #0a305f;
  --primaryContainer: #284777;
  --onPrimaryContainer: #d6e3ff;

  --secondary: #bec6dc;
  --onSecondary: #283141;
  --secondaryContainer: #3e4759;
  --onSecondaryContainer: #dae2f9;

  --tertiary: #ddbce0;
  --onTertiary: #3f2844;

  --surface: #111318;
  --onSurface: #e2e2e9;
  --onSurfaceVarient: #c4c6d0;
  --surfaceContainer: #1d2024;
  --surfaceContainer-low: #191c20;

  --inverseOnSurface: #2e3036;
  --inverseSurface: #e2e2e9;
  --outlineVarient: #44474e;

  --shadow-elevation1: 0 1px 2px 0 rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.15);
  --shadow-elevation2: 0 1px 2px 0 rgba(0, 0, 0, 0.3),
    0 1px 6px 2px rgba(0, 0, 0, 0.15);
}

@theme inline {
  --color-primary: var(--primary);
  --color-onPrimary: var(--onPrimary);
  --color-primaryContainer: var(--primaryContainer);
  --color-onPrimaryContainer: var(--onPrimaryContainer);

  --color-secondary: var(--secondary);
  --color-onSecondary: var(--onSecondary);
  --color-secondaryContainer: var(--secondaryContainer);
  --color-onSecondaryContainer: var(--onSecondaryContainer);

  --color-tertiary: var(--tertiary);
  --color-onTertiary: var(--onTertiary);

  --color-surface: var(--surface);
  --color-onSurface: var(--onSurface);
  --color-onSurfaceVarient: var(--onSurfaceVarient);
  --color-surfaceContainer: var(--surfaceContainer);
  --color-surfaceContainer-low: var(--surfaceContainer-low);

  --color-inverseOnSurface: var(--inverseOnSurface);
  --color-inverseSurface: var(--inverseSurface);
  --color-outlineVarient: var(--outlineVarient);

  --shadow-elevation1: 0 1px 2px 0 rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.15);
  --shadow-elevation2: 0 1px 2px 0 rgba(0, 0, 0, 0.3),
    0 1px 6px 2px rgba(0, 0, 0, 0.15);

  --radius-medium: 12px;
}

@layer utilities {
  .text-brand {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0;
  }

  .text-plain {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
  }

  .text-display-large {
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    letter-spacing: -0.25px;
  }

  .text-display-medium {
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    letter-spacing: 0;
  }

  .text-display-small {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0;
  }

  .text-headline-large {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
  }

  .text-headline-medium {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0;
  }

  .text-headline-small {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
  }

  .text-title-large {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0;
  }

  .text-title-medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  .text-title-small {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  .text-label-large {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  .text-label-medium {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
  }

  .text-label-small {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.1px;
  }
}
